body{background-color:cyan;text-align:center;}
h1{font-family:Helvetica;font-weight:bold;color:black}
#apps{background-color:yellowgreen;}
#games{background-color:powderblue;}
#chatbot{background-color: rgb(80, 112, 15);}